# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# PyInstaller
*.spec

# Celery stuff
celerybeat-schedule
celerybeat.pid

# mypy
.mypy_cache/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
